<footer
  class="footer"
  style="position: fixed; left: 0; bottom: 0; width: 100%; padding: 1rem;"
>
  <div class="container hast-text-centered">
    <p>
      &copy; 2020 | <a href="/impressum/">Impress</a> |
      <a href="/en/contact/">Contact</a> |

      <a
        class="button is-text"
        href="https://github.com/{{site.github_username}}/"
        style="padding: 0%;"
      >
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a
        class="button is-text"
        href="https://stackoverflow.com/users/13786439/haudraufhaun"
        style="padding: 0%;"
      >
        <ion-icon name="logo-stackoverflow"></ion-icon>
      </a>
      <a
        class="button is-text"
        href="https://www.reddit.com/u/haudraufhaun"
        style="padding: 0%;"
      >
        <ion-icon name="logo-reddit"></ion-icon>
      </a> | <a href="/">de</a>
    </p>
  </div>
</footer>
